name: Deploy to Firebase Hosting on merge

on:
  push:
    branches:
      - main
      
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: npm ci

      - name: Build app
        run: npm run build
        env:
          FIREBASE_CONFIG: ${{ secrets.FIREBASE_CONFIG }}

      - uses: FirebaseExtended/action-hosting-deploy@vX
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_INFANT_MONITORING }}'
          channelId: live
          projectId: infant-monitoring-6198c
